<section class="container">
  <div class="jumbotron">
    <h1>Polls</h1>
    <ul class="list-group">
      <li class="list-group-item">Poll 1</li>
      <li class="list-group-item">Who is going to be next USA president?</li>
      <li class="list-group-item">What games do you play?</li>
      <li class="list-group-item">Should UK leave European Union?</li>
      <li class="list-group-item">Are you going to play World of Warcraft legion?</li>
      <li class="list-group-item">How old are you</li>
      <li class="list-group-item">What is your favourite opera?</li>
      <li class="list-group-item">Are you a programmer?</li>
      <li class="list-group-item">Where did you go on holidays?</li>
      <li class="list-group-item">Do you watch Mr Robot?</li>
    </ul>
    <div class="btn-group offset-6">
      <button type='button' class='btn btn-primary'>1</button>
      <button type='button' class='btn btn-primary'>2</button>
      <button type='button' class='btn btn-primary'>3</button>
      <button type='button' class='btn btn-primary'>4</button>
      <button type='button' class='btn btn-primary'>5</button>
    </div>
  </div>
</section>