<header data-ng-controller="NavigationController">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Vote app</a>
      </div>
      <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active nav"><a href="/">Home</a></li>
          <li data-ng-show="auth.user.isAuthenticated"><a href="/my-polls">My Polls</a></li>
          <li data-ng-show="auth.user.isAuthenticated"><a href="/new-poll">New Pool</a></li>
          <li data-ng-show="auth.user.isAuthenticated"><a href="" data-ng-click="logOut()" data-ng-bind="auth.user.name"></a></li>
          <li class="navbar-form" data-ng-hide="auth.user.isAuthenticated">
            <button class="btn btn-primary" data-ng-click="twitterAuth()">Log in with twitter</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>