<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Vote app</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active nav"><a href="/">Home</a></li>
          <li data-ng-show="auth.user.isAuthenticated"><a href="">My Polls</a></li>
          <li data-ng-show="auth.user.isAuthenticated"><a href="">New Pool</a></li>
          <li data-ng-show="auth.user.isAuthenticated"><a href="#" data-ng-click="logOut()" data-ng-bind="auth.user.name"></a></li>
          <li class="navbar-form" data-ng-hide="auth.user.isAuthenticated"><a href="auth/twitter" target="_blank"><button class="btn btn-primary btn-nav" type="button">Log in with twitter</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>