<footer class="container">
  <p>Created by <a href="http://mateuszszymanski.eu">Mateusz Szymański</a> for <a href="https://www.freecodecamp.com/challenges/build-a-voting-app">Free Code Camp</a></p>
  Powered by NodeJS &copy; <%= new Date().getFullYear() %> 
</footer>