<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vote Application</title>
  <script src="../public/lib/angular.angular.min.js"></script>
</head>
<body>
  <a href="/auth/twitter">Log in with Twitter</a>

  <% include footer.server.view.ejs %>
</body>
</html>